
table, td, tr {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
  font-family: sans-serif;
  font-size: 14px;
}
td {
    width: 140px;
    height: 25px;
}

nav {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

}

table {
  margin: 100px 500px;

}